.bg-light {
    background-color: unset !important;
    padding: 2%;
    border-bottom: 2px solid #c7c7c794;
}

.navbar-light .navbar-brand {
    color: #585757 !important;
    font-weight: 600;
}

td a {
    color: #585757 !important;
    font-weight: 600;
}

.login-btn {
    background: center;
    border: none;
    margin-right: 9px;
    font-weight: 600;
    color: #585757 !important;
}

.login-btn:hover {
    color: gray;
}

.register-btn:hover {
    color: gray;
}

.register-btn {
    background: center;
    border: none;
    margin-right: 9px;
    font-weight: 600;
    color: #585757 !important;
}

.navbar-custome {
    display: block !important;
    text-align: end;
}

.navbar-expand-lg .navbar-collapse {
    display: block !important;
    text-align: end;
}

@media screen and (min-width: 768px) {
    .navbar-expand-lg .navbar-collapse {
        display: none !important;
    }
}
@media screen and (max-width: 768px) {
    .navbar-expand-lg .navbar-collapse {
        display: none !important;
    }
}

/****** Side nav by Vaibhav *****/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f8f9fa;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 4px 0px 2px 0px inset rgba(0, 0, 0, 0.08);
}

.sidenav a {
    padding: 5px 7px 8px 17px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.profile-icon {
    width: 103px;
    border-radius: 50%;
    border: 1px solid gray;
}

.icon-div {
    text-align: center;
    padding: 8%;
    border-bottom: 2px solid #dee2e6;
}