<div class="row" style="text-align: center;margin-left: auto;margin-right: auto;display: block;margin-top: 5%;margin-bottom: 3%;font-size: 1.7rem;color: #666;">Services
    <hr id="header-border">
</div>
<div class="row" style="text-align: center;width:100%;">

    <div class="col-sm-4">
        <img src="assets/img/visit.png"><br>
        <label class="service-label">Find Without Visit</label>
        <p>Get to know about the houses without visiting the places. Get zing for the home without any visit.</p>
    </div>
    <hr class="vr">

    <div class="col-sm-4">
        <img src="assets/img/totally-free.png"><br>
        <label class="service-label">Totally Free</label>
        <p>Get our best services at free of costs without any hidden charges or amount. No need to purchase any package.</p>
    </div>
    <hr class="vr">

    <div class="col-sm-4">
        <img src="assets/img/no-limit.png"><br>
        <label class="service-label">No Limit For Posts</label>
        <p>Unlimited number of posts so that you can show the best of best in your house and number of properties.</p>
    </div>



</div>

<div class="row" style="background-color: #334a5c;width:100%;margin: unset;">
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="">
                <img src="assets/img/sam.png" alt="Angular Carousel 1" style="border-radius: 100px;">
            </div>
            <div class="carousel-caption">
                <h3 style="color:white">Sameer Narkhede</h3>
                <p class="cap-p" style="color:white">Awesome platform for finding home..!!!</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="">
                <img src="assets/img/kalpeshdp.png" alt="Angular Carousel 2" style="border-radius: 100px;">
            </div>
            <div class="carousel-caption">
                <h3>Kalpesh Patil</h3>
                <p class="cap-p" style="color:white">Great Application..!!! Time and Money Saving.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="">
                <img src="assets/img/vaibhav.png" alt="Angular Carousel 2" style="border-radius: 100px;">
            </div>
            <div class="carousel-caption">
                <h3>Vaibhav Mahajan</h3>
                <p class="cap-p" style="color:white">It's Really Good..!!!</p>
            </div>
        </ng-template>
    </ngb-carousel>
</div>