<form #searchpropertyform = "ngForm" >
    <div style="text-align: center;padding: 5%;" class="background">
    <label class="header-label">Find Your Nearest Property</label>
    <div class="active-cyan-4 mb-4">
        <input class="form-control searchbox" type="text" placeholder="Search"  name="searchPropertyField" ngModel>
        <button type="submit" class="btn btn-info search-btn" (click)="searchForProperty(searchpropertyform.value)">Search</button>
    </div>
</div>
</form>

<!--  -->

<router-outlet ></router-outlet>

<app-footer></app-footer>